@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="~/hierarchical-tree-table-view/css/tree-table.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .add-organization-btn {
            position: absolute;
            bottom: 10px; /* Aşağı sola alındı */
            left: 10px; /* Aşağı sola alındı */
            z-index: 1000;
        }

        .employees-btn {
            background-color: #28a745; /* Yeşil arka plan rengi */
            color: white; /* Beyaz yazı rengi */
            padding: 5px 10px; /* İç boşluk ayarları */
            border: none; /* Kenarlık olmaması */
            border-radius: 3px; /* Hafif yuvarlak kenarlar */
            cursor: pointer; /* Fare imleci butonun üstüne geldiğinde göster */
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- Organizasyon Ekle butonu -->
        <a href="@Url.Action("CreateOrganization", "Organization")" class="btn btn-success add-organization-btn">Organizasyon Ekle</a>

        <div class="tree-table-wrap">
            <table class="tree-table" style="width: 100%;">
                <thead>
                    <tr style="text-align:center;">
                        <th>Organizasyon Hiyerarşi Yapısı</th>
                    </tr>
                </thead>
                <tbody id="table-tree">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        var organizations = @Html.Raw(ViewBag.OrganizationsTree);

        function addRowsToTable(data, level) {
            var rows = '';
            data.forEach(function (item) {
                console.log(item); // Her bir öğeyi kontrol etmek için
                rows += '<tr>';
                rows += '<td style="padding-left: ' + (20 * level) + 'px;">' + item.Name;
                rows += '<span class="action-buttons">';
                rows += '<button class="edit-btn" data-id="' + item.Id + '">Düzenle</button>';
                rows += '<button class="delete-btn" data-id="' + item.Id + '">Sil</button>';
                rows += '<button class="employees-btn" data-id="' + item.Id + '">Personel Listesi</button>'; // Yeni Görevliler butonu
                rows += '</span></td>';
                rows += '</tr>';

                if (item.Children && item.Children.length > 0) {
                    rows += addRowsToTable(item.Children, level + 1);
                }
            });
            return rows;
        }

        $(document).ready(function () {
            var tableRows = addRowsToTable(organizations, 0);
            $('#table-tree').append(tableRows);

            $('#table-tree').on('click', '.edit-btn', function () {
                var id = $(this).data('id');
                window.location.href = '/Organization/UpdateOrganization/' + id;
            });

            $('#table-tree').on('click', '.delete-btn', function () {
                var id = $(this).data('id');
                if (confirm('Bu organizasyonu silmek istediğinize emin misiniz?')) {
                    $.ajax({
                        url: '/Organization/DeleteOrganization/' + id,
                        type: 'POST',
                        success: function (response) {
                            if (response.success === true) {
                                swal({
                                    title: "İşlem Başarılı!",
                                    text: "Değişiklikler için sayfa yenileniyor!",
                                    icon: "success",
                                    button: "Tamam",
                                }).then(() => {
                                    window.location.href = "/Organization/Index";
                                });
                            } else {
                                swal({
                                    title: "Silme İşlemi Başarısız!",
                                    text: "Bu organizasyonu silemezsiniz. Bağlı personeller veya alt organizasyonlar olabilir.",
                                    icon: "error",
                                    button: "Tamam",
                                });
                            }
                        },
                        error: function () {
                            alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                        }
                    });
                }
            });

            $('#table-tree').on('click', '.employees-btn', function () { 
                var id = $(this).data('id');
                console.log(id); 
                window.location.href = '/Employee/GetEmployeesByOrganizationId/' + id; 
            });
        });
    </script>
</body>

</html>
